<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <% include ./include/header %>

    <div class="container-fluid" id="wrapper">
      <div class="panel panel-info">
        <div class="panel-heading"><h4>客户详情</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <h4>客户名称</h4>
              <p><%= client.client_name %></p>
            </div>
            <div class="col-md-3">
              <h4>接入类型</h4>
              <p><%= client.type %></p>
            </div>
            <div class="col-md-3">
              <h4>预计上线时间</h4>
              <p><%= client.launch_time %></p>
            </div>
            <div class="col-md-3">
              <h4>接入状态</h4>
              <p><%= client.client_status %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h4>备注</h4>
              <p><%= client.remarks %></p>
            </div>
            <div class="col-md-3">
              <h4>相关工单数量</h4>
              <p><%= client.active_tickets %></p>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <button class="btn btn-primary btn-sm" style="float:right" onclick="location='/edit_client/<%= client.client_name %>'">修改</button>
          </div>
        </div>
      </div>

      <hr />

      <% include ./include/ticket_list %>
    </div>
    <% include ./include/footer %>
  </body>
</html>
