
<div class="panel panel-info">
  <div class="panel-heading"><h4>客户列表</h4></div>
  <%# <div class="panel-body">
    <div class="row">
    </div>
  </div>%>

  <table class="table table-hover table-bordered">
    <thead>
      <th>客户名称</th>
      <th>接入类型</th>
      <th>预计上线时间</th>
      <th>接入状态</th>
      <th>备注</th>
      <th>工单数量(active)</th>
    </thead>
    <tbody>

      <% for (var client of clients) { %>
        <tr>
          <td>
            <a href="/client/<%= client.client_name %>"> <%= client.client_name %> </a>
          </td>
          <td><%= client.type %></td>
          <td><%= client.launch_time %></td>
          <td><%= client.client_status %></td>
          <td><%= client.remarks %></td>
          <td style="color: red"><%= client.active_tickets %></td>
        </tr>
      <% } %>

    </tbody>
  </table>

  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6">
        <% if(title == '源通讯项目管理平台') { %>
        <a href="/client_list" style="float:left">查看全部
          <%= c_count %>个
        </a>
        <% } %>
      </div>
      <button class="btn btn-primary" type="button" onclick="location='/new_client'" method="get" style="float:right">新增客户</button>
    </div>
  </div>

</div>
